* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
}
:root {
  --btn1-color: white;
  --btn2-color: black;
  --btn1-bgcol: black;
  --btn2-border: black;
  --text-color: #000000;
  --footericon-bg: white;
  --header--color: #6d6666;
  --btn2-bgcol: rgb(245, 245, 245);
  --background-color: rgb(245, 245, 245);
  --box--shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
html {
  scroll-behavior: smooth;
}
body.dark-theme {
  --btn1-color: black;
  --btn2-color: white;
  --btn1-bgcol: white;
  --btn2-border: white;
  --text-color: #ffffff;
  --footericon-bg: black;
  --btn2-bgcol: transparent;
  --header--color: #9e9c9c;
  --background-color: #333333;
  --box--shadow: 0 4px 6px rgba(255, 255, 255, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.2);
}
body {
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 0.3s, color 0.3s;
}
header {
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  align-items: center;
  background: transparent;
  justify-content: space-between;
}
nav {
  margin: 26px;
}
.logo {
  margin: 15px;
  padding: 20px;
  font-size: 30px;
  font-weight: 700;
  transition: all 0.55s ease;
}
.logo::selection {
  color: rgb(175, 64, 53);
  background: rgb(245, 245, 245);
}
.logo:hover {
  color: rgb(175, 64, 53);
}
.navlist {
  display: flex;
}
.theme-btn {
  border: none;
  font-size: 24px;
  cursor: pointer;
  background: none;
  transition: color 0.3s;
  color: var(--text-color);
  border: 1px solid transparent;
}
li {
  padding: 20px;
  font-size: 23px;
  font-weight: 700;
}
.navlist a {
  color: #918686;
  transition: all 0.55s ease;
}
.navlist a:hover {
  font-size: 24px;
  color: rgb(175, 64, 53);
}
#menu-icon {
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.scroll-to-top {
  right: 50px;
  width: 30px;
  border: none;
  height: 30px;
  bottom: 20px;
  display: flex;
  position: fixed;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  color: var(--background-color);
  background-color: var(--text-color);
}
.scroll-to-top:hover {
  opacity: 0.8;
}
section {
  padding: 0 18.4%;
}
section h4 {
  color: #6d6666;
}
.hero {
  gap: 0rem;
  width: 100%;
  height: 100%;
  display: grid;
  max-width: 850px;
  min-height: 629px;
  position: relative;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.hero-txt {
  line-height: 1.7;
}
.hero-txt h4 {
  margin-bottom: 17px;
  color: var(--header--color);
}
.profile-img img {
  width: 50%;
  height: auto;
  margin-left: 100px;
  border-radius: 100%;
}
.hero .btn1 {
  color: var(--btn1-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  padding: 5px 30px;
  border-radius: 30px;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.55s ease;
  border: 1px solid transparent;
  background: var(--btn1-bgcol);
}
.hero .btn2 {
  color: var(--btn2-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  margin-left: 20px;
  padding: 5px 30px;
  margin-right: 5px;
  border-radius: 30px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  transition: all 0.55s ease;
  background: var(--btn2-bgcol);
  border: 1px solid var(--btn2-border);
}
.hero .btn1:hover,
.hero .btn2:hover {
  color: white;
  transform: translateX(8px);
  border: 1px solid transparent;
  background: rgb(175, 64, 53);
}
.quote {
  margin-left: 30px;
}
.quote h3,
.quote p {
  margin-top: 0%;
  text-align: center;
}
.quote p {
  margin-bottom: 160px;
}
.projects {
  margin-left: 50px;
  color: black;
}
.projects h2 {
  margin-bottom: 20px;
}
/* BentoGrid.css */
.bento-grid {
  gap: 16px;
  display: grid;
  padding: 16px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.bento-grid-item {
  display: flex;
  padding: 10px;
  overflow: hidden;
  border-radius: 8px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Custom sizes for bento boxes */
.bento-grid-item:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}

.bento-grid-item:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
}

.bento-grid-item:nth-child(3) {
  grid-column: span 2;
  grid-row: span 3;
}

.bento-grid-item:nth-child(4) {
  grid-column: span 2;
  grid-row: span 2;
}

.bento-grid-item:nth-child(5) {
  grid-column: span 1;
  grid-row: span 1;
}

.bento-grid-item:nth-child(6) {
  grid-column: span 1;
  grid-row: span 1;
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
}

.fallback-image {
  width: 100%;
  height: 200px;
  display: flex;
  color: #333;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}

.project-info {
  text-align: center;
}

.project-info h3 {
  margin: 0;
  font-size: 1.25rem;
}

.project-info p {
  color: #666;
  margin: 8px 0 0;
}

.single-image {
  width: 100%;
  height: auto;
}

.icons-container {
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  transition: all 0.55s ease;
}

.icons-container a:hover {
  transform: translateY(-5px);
}

.icon-image {
  width: 30px;
  height: 30px;
}
/*  */

.carousel-container {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.projects h2 {
  margin-top: 50px;
  text-align: center;
  color: var(--text-color);
}

.container-skills {
  margin-top: 110px;
  align-items: center;
  background: transparent;
  border: 1px solid transparent;
}

.container-skills h2 {
  margin-top: 120px;
  text-align: center;
  margin-bottom: 50px;
  color: var(--text-color);
}

.container-skills span {
  display: flex;
  padding: 30px;
  font-size: 68px;
  justify-content: space-evenly;
}

footer {
  color: black;
  margin-top: 180px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}
#footericons h3 {
  margin: 8px;
  padding: 30px;
  font-size: 25px;
}
#footericons a {
  padding: 10px;
  font-size: 48px;
  margin-left: 25px;
  margin-bottom: 35px;
  color: var(--text-color);
}

#footericons a i {
  background: var(--footericon-bg);
}
footer h3,
footer #footericons,
footer small {
  padding: 15px;
  display: block;
}

footer small {
  margin-top: 35px;
  padding-left: 35px;
  background: inherit;
}

/* Responsive Design */

/* Small Devices */
@media only screen and (max-width: 1080px ) {
  header {
    padding: 30px;
    display: block;
    justify-content: space-between;
  }

  .navlist {
    display: flex;
  }

  .hero {
    display: grid;
    align-items: center;
    margin-left: 60px;
    grid-template-columns: repeat(1, 1fr);
  }

  .hero .hero-txt {
    text-align: center;
    margin-left: 1px;
  }

  .hero .profile-img {
    margin-left: 0;
  }

  .quote {
    display: none;
  }

  .projects h2{
    margin-left: 200px;
    text-align: center;
  }

  /* BentoGrid.css */
  .bento-grid {
    gap: 16px;
    display: grid;
    margin-left: 0%;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  /* Custom sizes for bento boxes */
  .bento-grid-item:nth-child(1) {
    grid-column: span 3;
    grid-row: span 2;
  }

  .bento-grid-item:nth-child(2) {
    grid-column: span 3;
    grid-row: span 2;
  }

  .bento-grid-item:nth-child(3) {
    grid-column: span 3;
    grid-row: span 1;
  }

  .bento-grid-item:nth-child(4) {
    grid-column: span 3;
    grid-row: span 1;
  }

  .bento-grid-item:nth-child(5) {
    grid-column: span 3;
    grid-row: span 1;
  }

  .bento-grid-item:nth-child(6) {
    grid-column: span 3;
    grid-row: span 1;
  }

  .project-image {
    width: 100%;
    height: auto;
    display: block;
  }

  .fallback-image {
    width: 50%;
    height: auto;
  }

  .single-image {
    width: 50%;
  }
  .icons-container a:hover {
    transform: translateY(-5px);
  }
  
  .container-skills {
    margin-top: 60px;
    align-content: center;
  }

  .container-skills h2 {
    margin-left: 295px;
  }

  .container-skills span i{
    padding: 5px;
    display: flex;
    margin-bottom: 0%;
    justify-content: space-between;
  }

  .footercomp {
    display: none;
  }


}

@media (max-width: 768px) {
}

@media (max-width: 1024px) {
}
